<!DOCTYPE html>
<html lang="en">

<head>

<%include ../modules/head.ejs%>
</head>

<body>

    <% var usertype = typeof type!='undefined' ? type : 'parent'%>
    <% var query = typeof query!='undefined' ? query : ''%>

    <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Daily Activity</h1>
                        <a href="/auth/logout">Logout</a>
                        
                    </div>
                </div>
            </div>
        </div>

    <div id="wrapper" class="toggled">

        
        <% include ../modules/sidebar.ejs %>
            
        <div id="page-content-wrapper">
            <nav class="nav navbar-nav navbar-left header"><h7>Ally Allison</h7></nav>


            <img class="logo-main smaller-image border" src="https://s-media-cache-ak0.pinimg.com/originals/a5/25/0d/a5250d3a64a7da69b2eb56da4027ca53.jpg" alt="Doggo">

        

            <div class="container">
            <div class="daily-activity col-xs-12 text-center">
              <h4>Daily Activity</h4>
              <ol>
                <li>Blocks</li>
                <li>Mask making</li>
                <li>Painting</li>
               </ol>
             </div>
             </div>


            <div class="container">
               <div class="col-md-12 text-center teachers-notes">
              <h4>Teacher's Notes</h4>
                 <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
            </div>

        

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    

</body>

</html>