<!DOCTYPE html>
<html lang="en">

<% include head%>

<body>
<div class= "header">
	<h1 class="title"> magpie </h1>
	<ul class="home">
		<li><a href="login">Log In</a></li>
		<li><a href="register">Register</a></li>
	</ul>
</div>
<div class= "body">
	<div class= "container">

			<svg class="mainlogo" >
  				<circle class="circle" cx="50%" cy="50%" r="130" stroke="#E80C50" stroke-width="10" fill="none"/></circle>
			</svg>
	</div>
</div>



</body>
</html>