<!DOCTYPE html>
<html lang="en">

<% include head %>

<body>
<div class= "header">
	<h1 class="title"> magpie </h1>
</div>
<div class= "body">
	<div class= "container">

		<form name="register" action="/auth/register" method="post">
			<svg class="logo" >
  				<circle class="circle" cx="50%" cy="50%" r="70" stroke="#E80C50" stroke-width="10" fill="none" /></circle>
			</svg>
			<input type="text" id="email" name="email" value="email" onclick="empty(this.id)" required>
			<input type="password" id="password" name="password" value="password" onclick="empty(this.id)" required>
			<input type="submit" class="registerButton" value="Register">
		</form>
	</div>
</div>

</body>
</html>