<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/bootstrap/simple-sidebar.css" rel="stylesheet">

    <script src="/javascripts/bootstrap/jquery.js" type="text/javascript"> </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap/bootstrap.min.js" type="text/javascript"> </script>

</head>