body{
	background-color: #BAB6B7;
	height: 800px;
  font-family: 'Roboto', sans-serif;
}

div.header{
	height: 24%;
	color: #E80C50;
}

div.body{
	height: 60%;
}

div.footer{
	height: 20%;
}

div.container{
    max-height: 99%;
    width: 33%;
    background-color: white;
    align-self: center;
    left: 33%;
    position: absolute;
    text-align: center;
}

.containerhome{
    max-height: 99%;
    width: 34%;
    background-color: white;
    align-self: center;
    left: 33%;
    position: absolute;
    text-align: center;
    border-radius: 50%;
}

button.forgot{
    position: relative;
    left: 56.4%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #7d7c7c;
    background-color: #BAB6B7;
    font-size: 15px;
}

.title{
    position: absolute;
    left: 2%;
    height: 75px;
    width: 150px;
}

.logo{
    height: 150px;
    padding: 9%;
}

.mainlogo{
    height: 400px;
    padding: 9%;
}

#login{
    float: left;
    color: #E80C50;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.login{
    width: 10%;
    display: inline;
    box-sizing: border-box;
    color: #bab6b7;
    float: left;
    border: solid #7d7c7c;
    border-width: 0px 0px 2px 0px;
    margin:3px;

}

.logindiv{
  margin: 10px;
}

input[type=text], input[type=password] {
    width: 80%;
    padding: 3% 18px;
    margin: 4px 0;
    display: inline-block;
    border: solid #7d7c7c;
    border-width: 0px 0px 2px 0px;
    font-size: 15px;
    color: #bab6b7;
}

.loginButton, .registerButton{
    background-color: #E80C50;
    color: white;
    padding: 3% 20px;
    margin: 4% 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 15px;
    border-radius: 40px;
}



ul {
    position: absolute;
    right: 2%;
    top: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.logo-main {
    display: block;
    margin: 8px auto;
  }

.border {
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }

nav {
    overflow-x: auto;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    a { display: inline-block; }
}
/*
html { box-sizing: border-box; }
*,*:before,*:after { box-sizing: inherit; font-size: 14px; font-weight: 500;}

nav {
    background: #E80C50;
}
a {
    color: white;
    text-decoration: none;
    padding: 20px;
}
a:focus {
    background: #f1f1f1;
    outline: none;
}*/


.header {
  overflow-x: auto;
    user-select: none;
    text-align: left;
    white-space: nowrap;
  padding-left: 20px;
  color:white;
}

.daily-activity {
  margin-top:30px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #3AA4D8;
  font-weight:bold;
  font-family: roboto, sans-serif;
  background-color:#FEF3C6;
  list-style-position:inside;
}

.daily-activity li{
  color:black;
  font-weight:bold;
}


.teachers-notes {
  margin-top:30px;
  color: #3AA4D8;
  font-style:bold;
  font-family: roboto, sans-serif;
}

.teachers-notes p {
  color:black;
}


.resources {
  margin-top:30px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #3AA4D8;
  font-weight:bold;
  font-family: roboto, sans-serif;
  background-color:#FEF3C6;
  list-style-position:inside;
}

.resources li{
  color:black;
  font-weight: bold;
}

.resources a{
  color:black;
  font-weight: bold;
}


.announcements {
  margin-top:30px;
  color: #3AA4D8;
  font-style:bold;
  font-family: roboto, sans-serif;
}

.announcements p {
  color:black;
}

.message {
  margin:30px 100px 10px 100px;
  padding: 50px 50px 50px 50px;
  color: #3AA4D8;
  font-weight:bold;
  font-family: roboto, sans-serif;
  background-color:#FEF3C6;
  list-style-position:inside;
  text-align:center;
}


.dismissal h1{
text-align: center;
padding:10px 0;
font-size:20px;
margin:0;
font-weight:200;
color:#fff;
background-color: #E80C50;
}

#todo-list {
	text-align: center;
	background-color:#FEF3C6;
	margin: 0 auto;
}

.todo-wrap{
display:block;
position:relative;
padding-left:35px;
}

input[type="checkbox"]{
opacity:0;
}
.todo{
display:inline-block;
font-weight:200;
padding:10px 5px;
height:37px;
position:relative;
font-size: 20px;
}
.todo:before{
content:'';
display:block;
position:absolute;
top:calc(50% + 2px);
left:0;
width:0%;
height:4px;
background:#cd4400;
}
.todo:after{
display:block;
position:absolute;
z-index:0;
height:10px;
width:18px;
top:9px;
left:-25px;
}
:checked + .todo{
color:#717171;
}
:checked + .todo:before{
width:100%;
}
