body.homebody{
	background-color: #BAB6B7;
	height: 800px;
  font-family: 'Roboto', sans-serif;
}

div.header{
	height: 24%;
	color: #E80C50;
}

div.body{
	height: 60%;
}

div.footer{
	height: 20%;
}

div.container{
    max-height: 99%;
    width: 33%;
    background-color: white;
    align-self: center;
    left: 33%;
    position: absolute;
    text-align: center;
}

.containerhome{
    max-height: 99%;
    width: 34%;
    background-color: white;
    align-self: center;
    left: 33%;
    position: absolute;
    text-align: center;
    border-radius: 50%;
}

button.forgot{
    position: relative;
    left: 56.4%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #7d7c7c;
    background-color: #BAB6B7;
    font-size: 15px;
}

.title{
    position: absolute;
    left: 2%;
    height: 75px;
    width: 150px;
}

.logo{
    height: 150px;
    padding: 9%;
}

.mainlogo{
    height: 400px;
    padding: 9%;
}

ul.home {
    position: absolute;
    right: 2%;
    top: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#login{
    float: left;
    color: #E80C50;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#logout{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.login{
    width: 10%;
    display: inline;
    box-sizing: border-box;
    color: #bab6b7;
    float: left;
    border: solid #7d7c7c;
    border-width: 0px 0px 2px 0px;
    margin:3px;

}

.logindiv{
  margin: 10px;
}

.logindiv input[type=text], input[type=password] {
    width: 80%;
    padding: 3% 18px;
    margin: 4px 0;
    display: inline-block;
    border: solid #7d7c7c;
    border-width: 0px 0px 2px 0px;
    font-size: 15px;
    color: #bab6b7;
}

.loginButton{
    background-color: #E80C50;
    color: white;
    padding: 3% 20px;
    margin: 4% 0;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 15px;
    border-radius: 40px;
}

.logo-main {
    display: block;
    margin: 8px auto;
  }

.border {
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
  }

.smaller-image {
    width: 100px;
  }

#header-wrapper{
    padding: 20px;
    position: relative;
    background-color: #E80C50; 
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.activity {
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    height: 100px;
}

.activity li{
    display: inline;
    margin: 20px;
    background-color: #7CD0FA;
    padding: 12px;
    font-size: medium;
}

.activity li:active,
.activity li:visited{
    background-color: #3AA4D8;
}

.activity li a {
    text-decoration: none;
    color: black;
}

.table table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.table th, td {
    padding: 15px;
}

.table input[type=text]{
    width: 100%;
    padding: 3% 18px;
    margin: 4px 0;
    display: inline-block;
    font-size: 15px;
    color: black;
    border:none;
}

.table tr:nth-child(odd){
  background-color: #f2f2f2
}

.table2 table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}

.table2 table {
    border-collapse: collapse;
    width: 100%;
}

.table2 th{
    padding: 15px;
    width: 200px;
}

.table2 td {
    padding: 15px;
    width: 420px;
} 

.table2 input[type=text]{
    width: 100%;
    padding: 3% 18px;
    margin: 4px 0;
    display: inline-block;
    font-size: 15px;
    color: black;
    border:none;
}

.table2 tr:nth-child(odd){
  background-color: #f2f2f2
}

.visual{
  width:80%;
  float:left;
}

.kids {
  width:20%;
  float:right;
}


#dismissal {
	text-align: center;
	background-color:white;
	margin: 0 auto;
  width:50%;
}

#dismissal td{
  background-color:white;
}
