<!DOCTYPE html>
<html lang="en">

<head>

<%include ../modules/head.ejs%>
</head>

<body>

    <% var usertype = typeof type!='undefined' ? type : 'teacher'%>
    <% var query = typeof query!='undefined' ? query : ''%>

    <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Dismissal Queue</h1>
                        <a href="/auth/logout">Logout</a>
                        
                    </div>
                </div>
            </div>
    </div>

    <div id="wrapper" class="toggled">

        
        <% include ../modules/sidebar.ejs %>

        <div class="dismissal">
          <table id="todo-list">
          </table>
        </div>

        <script type="text/javascript">
            var dismiss = [];

            function inArray(array, name) {

              for(var i=0; i<array.length; i++){
                    if(array[i] == name){
                      return true;
                    }
                }
                return false;
            }

            $(document).ready(function(){
                  setInterval("ajax()",3000);
              });

            function ajax(){
                $.get("/sensors/dismissal", function(data, status){
                    for(var i=0; i<data.length; i++){
                      if(!inArray(dismiss, data[i].name)){
                        dismiss.push(data[i].name);
                        var table = document.getElementById("todo-list");
                        var row = table.insertRow(0);
                        var cell = row.insertCell(0);
                        cell.innerHTML = data[i].name;
                      }
                    }
                });
            }
        </script>


    </div>

</body>
</html>
