<html>
  <head>
    <title>Magpie</title>
    <link href='css/bootstrap.min.css' rel='stylesheet'/>
    <link href="parent/parent.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
  </head>

<body>


<nav class="nav navbar-nav navbar-left header"><h7>Ally Allison</h7></nav>
<nav role="navigation">
	<a href="#">Daily Activity</a>
	<a href="#">Resources</a>
	<a href="#">Messages</a>
</nav>

<div class="container">
<div class="message">
  <h4>Message??</h4>
 </div>

 <div class="message">
   <h4>Message 2???</h4>
  </div>
 </div>

 </body>

 </html>
