<div id="sidebar-wrapper">
    <% if(usertype == 'admin'){ %>
        <ul class="sidebar-nav">
            
            <li>
                <a href="/users/students">Students</a>
            </li>
            <li>
                <a href="/users/teachers">Teachers</a>
            </li>
            <li>
                <a href="/users/classes">Classes</a>
            </li>
            <li>
                <a href="/users/admins">Admin</a>
            </li>
            <li>
                <a href="/user/admin/news">News Feed</a>
            </li>
            <li>
                <a href="/user/admin/messaging">Messaging</a>
            </li>
        </ul>
    <% }  
    if(usertype == 'teacher'){ %>
            <ul class="sidebar-nav">
            
                <li>
                    <a href="/user/teachers/activities">Class Activities</a>
                </li>
                <li>
                    <a href="/users/studentdata">Student Data</a>
                </li>
                <li>
                    <a href="/user/teachers/dismissal">Dismissal</a>
                </li>
                <li>
                    <a href="#">Messaging</a>
                </li>
            </ul>
    <% } 
    if(usertype == 'parent'){%>
            <ul class="sidebar-nav">
            
                <li>
                    <a href="/user/parents/activities">Daily Activities</a>
                </li>
                <li>
                    <a href="/user/parents/resources">Resources</a>
                </li>
                <li>
                    <a href="">Messaging</a>
                </li>
            </ul>
    <% } %>

</div>