<div id="sidebar-wrapper">
    <% if(usertype == 'parent'){ %>
        <ul class="sidebar-nav">

            <li>
                <a href="#">Daily Activity</a>
            </li>
            <li>
                <a href="#">Resources</a>
            </li>
            <li>
                <a href="#">Messages</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
</div>
